/*  PETKNOW COLOR PALETTE */

$pkBlack100: #020202;
$pkBlack80: #525252;
$pkBlack60: #919191;
$pkBlack40: #d1d1d1;
$pkBlack20: #f2f2f2;
$pkWhite: #ffffff;
$pkPrimary: #ed888c;
$pkPrimaryLight: #ffc7c9;
$pkSurface: #f8f8f8;

/* PETKNOW FONT COLORS */

.pk-text-black-100 {
  color: $pkBlack100;
}

.pk-text-black-80 {
  color: $pkBlack80;
}

.pk-text-black-60 {
  color: $pkBlack60;
}

.pk-text-black-40 {
  color: $pkBlack40;
}

.pk-text-black-20 {
  color: $pkBlack20;
}

.pk-text-white {
  color: $pkWhite;
}

/* PETKNOW BG COLORS */

.pk-bg-black-100 {
  background-color: $pkBlack100;
}

.pk-bg-black-80 {
  background-color: $pkBlack80;
}

.pk-bg-black-60 {
  background-color: $pkBlack60;
}

.pk-bg-black-40 {
  background-color: $pkBlack40;
}

.pk-bg-black-20 {
  background-color: $pkBlack20;
}

.pk-bg-white {
  background-color: $pkWhite;
}